@import url('colors.css');
 
.date-input {
    display: flex;
    background-color: var(--white);
    border: 1px solid var(--border-gray);
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    cursor: pointer;
    box-sizing: content-box;
}
 
.calendar-container {
    display: none;
    position: absolute;
    min-width: 230px;
    height: auto;
    padding: 3px 4px 3px 4px;
    border: 1px solid var(--gray);
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--white);
    z-index: 100;
    flex-direction: column;
    box-shadow: 0 0 10px var(--box-shadow-rgba);
}
 
.calendar {
    width: 100%;
}
 
.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 2px 7px 2px;
    height: 33px;
    background: var(--light-gray);
    border-radius: 5%;
}
 
.calendar .header .year-month {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}
 
.month {
    text-align: center;
    font-weight: 600;
    min-width: 25px;
    max-height: 15px;
    font-size: 12px;
}
 
.year-selector {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--light-gray);
    border: none;
    font-size: 12px;
    min-width: 30px;
    z-index: 101;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}
 
.calendar-body {
    width: 221px;
    border: 2px solid var(--selected-bg);
    padding: 1px 1px 2px 1px;
}
 
.weekdays {
    padding: 6px 0px 6px 0px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
 
.weekdays .day {
    text-align: center;
    padding: 8x;
    color: var(--dark-gray);
    font-weight: 600;
    font-size: 13px;
}
 
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}
 
.days .day {
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: center;
    padding: 3px 3px 4px 4px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    min-width: 28px;
    height: 24px;
    transition: 0.2s;
    border: 1px solid var(--border-c9);
    font-size: 11px;
    background: var(--light-background);
    color: var(--dark-gray);
}
 
.days .day.empty {
    min-width: 29px;
    height: 25px;
    gap: 0;
    border: 1px solid var(--white);
    background-color: var(--white);
    cursor: default;
}
 
.day.current {
    background-color: var(--yellow);
}
 
.days .day.selected {
    background-color: var(--selected-bg);
}
 
#sunday {
    color: var(--red);
}
 
#saturday {
    color: var(--blue);
}
 
.days .day.sunday {
    color: var(--red);
}
 
.days .day.saturday {
    color: var(--blue);
}
 
/*Button*/
.next-button,
.previous-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    width: 26px;
    height: 24px;
    background: transparent;
    position: relative;
}
 
.header button:hover {
    background: var(--soft-gray);
    box-shadow: 0 0 4px var(--hover-shadow);
}
 
.circle {
    width: 10px;
    height: 10px;
    background: var(--dark-gray);
    border-radius: 35%;
}
 
.triangle-next {
    border-left: 3px solid var(--white);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    margin: 1px 1px 0px 4px;
}
 
.triangle-previous {
    border-right: 3px solid var(--white);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    margin: 1px 4px 0px 1px;
}
 
.next-button .triangle-next {
    position: absolute;
    left: 8px;
    /* Adjust to position the triangle */
}
 
.next-button .circle {
    position: absolute;
    right: 8px;
    /* Adjust to position the circle */
}
 
.previous-button .triangle-previous {
    position: absolute;
    right: 8px;
    /* Adjust to position the triangle */
}
 
.previous-button .circle {
    position: absolute;
    left: 8px;
    /* Adjust to position the circle */
}
 
.date-display {
    width: 85%;
    height: 27px;
    border: 1px solid var(--light-blue);
    border-radius: 0;
}