.date-input {
    display: flex;
    background-color: white;
    border: 1px solid rgb(210, 212, 212);
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    cursor: pointer;
}

.calendar-container {
    display: none;
    position: absolute;
    max-width: 280px;
    min-height: 100px;
    border: 1px solid gray;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FFFF;
    z-index: 100;
}

.calendar {
    width: 100%;
    margin: 5px 4px 0 4px;
}

.calendar 
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E9E9E9;
    border-radius: 4px;
    width: 100%;
    height: 35px;
}

.calendar 
.header 
.year-month {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    gap: 3px;
}

.month {
    margin-top: 3px;
}

.year-selector {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    background-color: #E9E9E9;
    border: none;
    font-weight: bold;
    font-size: 14px;
    width: 45px;
    height: 25px;
    cursor: pointer;
}

#yearSelector:focus {
    outline: none;
}

.calendar-body {
    border: 2px solid lightblue;
    width: 95%;
    margin-bottom: 5px;
}

.weekdays {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: space-evenly;
  }

.weekdays .day {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.days {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: flex-start;
    margin-left: 4px;
    margin-bottom: 1px;
}

.days 
.day {
    width: 29px;
    height: 25px;
    border: 1px solid #C8C8C8;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
    background-color: #F6F6F6;
    padding-right: 5px;
    cursor: pointer;
}

.days 
.day.empty {
    width: 29px;
    height: 25px;
    gap: 0;
    border: 1px solid #FFFF;
    background-color: #FFFF;
    cursor: default;
}

.days
.day.current {
    background-color: yellow;
}

.days
.day.selected {
    background-color: rgb(189, 215, 238);
}

#sunday {
    color: red;
}

#saturday {
    color: blue;
}

.days .day.sunday {
    color: red; 
}

.days .day.saturday {
    color: blue; 
}

/*Button*/
.next-button,
.previous-button {
    width: 20px; 
    height: 20px;
    background-color: #EDEDED;
    border: none; 
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
}

button:hover {
    outline: 1px solid gray;
}

.next-button {
    margin-left: 50px;
}

.previous-button {
    margin-right: 50px;
}

.circle { 
    background-color: black;
    border-radius: 35%;
    width: 12px;
    height: 12px;
}

.triangle-next {
    border-left: 4px solid white;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.triangle-previous {
    border-right: 4px solid white;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.next-button .triangle-next {
    position: absolute;
    left: 9px; /* Adjust to position the triangle */
}

.next-button .circle {
    position: absolute;
    right: 4px; /* Adjust to position the circle */
}

.previous-button .triangle-previous {
    position: absolute;
    right: 9px; /* Adjust to position the triangle */
}

.previous-button .circle {
    position: absolute;
    left: 4px; /* Adjust to position the circle */
}

.date-display {
    width: 85%;
    height: 25px;
    border: 1px solid lightblue;
    border-radius: 0; 
    margin-bottom: 2px;
}
