<div class="date-input" id="dateInput{{calendar_id}}" onclick="toggleCalendar('{{calendar_id}}')">
    <input class="date-display" id="txtDateDisplay{{calendar_id}}" value="{{calendar_value}}" readonly>
    <div class="image-container" id="imgCalendar"></div>
</div>

<div class="calendar-container" id="calendar{{calendar_id}}">
    <div class="calendar">
        <div class="header">
            <button class="previous-button" id="btnPrevious{{calendar_id}}">
                <div class="circle"></div>
                <div class="triangle-previous"></div>
            </button>

            <div class="year-month">
                <select 
                    class="year-selector" 
                    id="yearSelector{{calendar_id}}">
                </select>
                <div class="month" id="month{{calendar_id}}"></div>
            </div>
            
            <button class="next-button" id="btnNext{{calendar_id}}">
                <div class="circle"></div>
                <div class="triangle-next"></div>
            </button>
        </div>
    </div>

    <div class="calendar-body">
        <div class="weekdays">
            <div class="day" id="sunday">日</div>
            <div class="day">月</div>
            <div class="day">火</div>
            <div class="day">水</div>
            <div class="day">木</div>
            <div class="day">金</div>
            <div class="day" id="saturday">土</div>
        </div>

        <div class="days" id="days{{calendar_id}}"></div>
    </div>
</div>
